@import 'mixins';

.sudoku-board {
	font-size: 0;
	margin: 0px auto;
	border-collapse: collapse;
	.row {
		.cell {
			width: 30px;
			height: 30px;

			border-left: #828282 solid 1px;
			border-top: #828282 solid 1px;
			
			text-align: center;

			input {
				font: 18px "lucida handwriting","comic sans ms";
				color: #FF6600;
				outline: none;
				border: solid 0 #fff;
				text-align: center;
				margin: 0;
				width: 100%;

				@include border-sizing(border-box);
			}

			input.dark {
				color: #000000;
			}
		}
	}
}

.row0, .row3, .row6 {
	border-top: #828282 solid 2px !important;
}

.col0, .col3, .col6 {
	border-left: #828282 solid 2px !important;
}

.row8 {
	border-bottom: #828282 solid 2px !important;
}

.col8 {
	border-right: #828282 solid 2px !important;
}

.container {
	text-align: center;
}

// larger screen
@media screen and (min-width: 28.75em) {
	.sudoku-board {
		.row {
			.cell {
				width: 45px;
				height: 45px;

				input {
					font: 30px "lucida handwriting","comic sans ms";
				}
			}
		}
	}
}


