.sudoku-board {
  font-size: 0;
  text-align: center; }
  .sudoku-board .row .cell {
    width: 9vw;
    height: 9vw;
    border-left: #828282 solid 1px;
    border-top: #828282 solid 1px;
    text-align: center;
    display: inline-block; }
    .sudoku-board .row .cell input {
      font: 5vw "lucida handwriting","comic sans ms";
      color: #FF6600;
      outline: none;
      border: solid 0 #fff;
      text-align: center;
      margin: 0;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .sudoku-board .row .cell input.dark {
      color: #000000; }

.row0, .row3, .row6 {
  border-top: #828282 solid 2px !important; }

.col0, .col3, .col6 {
  border-left: #828282 solid 2px !important; }

.row8 {
  border-bottom: #828282 solid 2px !important; }

.col8 {
  border-right: #828282 solid 2px !important; }

.container {
  text-align: center; }

@media screen and (min-width: 28.75em) {
  .sudoku-board .row .cell {
    width: 3vw;
    height: 3vw; }
    .sudoku-board .row .cell input {
      font: 2vw "lucida handwriting","comic sans ms"; } }
